@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&display=swap');

*,*::after,*::before{
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
}

html{
    scroll-behavior: smooth;
}

body{
    --cl--1--:#ffffff;
    --cl--2--:#14171f;
    --cl--3--:#2947a9;
    --cl--4--:#91a1d4;
    --cl--5--:#f6f8f7;
    background: var(--cl--1--);
    margin: 0;
}

img{
    max-width: 100%;
    width: flex;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
    color: var(--cl--2--);
    text-transform: capitalize;
    margin: 0;
}

h1{
    font-size: clamp(40px, 10vw, 70px);
}

h2{
    font-size: clamp(25px, 5vw, 35px);
}

h3{
    font-size: 20px;
}

p{
    font-size: 16px;
    color: var(--cl--4--);
    margin: 0;
}

a{
    display: inline-block;
    text-decoration: none;
    transition: 0.3s ease-in-out;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -ms-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.row {
    display: flex;
}

.flex{
    flex-wrap: wrap;
    gap: clamp(2em, 5vw, 5em);
}

.flex>* {
    flex: 1 200em 25em;
}

.column{
    display: grid;
}

.container{
   max-width: 90%;
   margin: 0 auto;
}

.fixed-nav-bar, .navbar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
    height: 50px;
    padding: 2em;
    background-color: transparent; 
    transition: background-color 0.1s ease-in-out; 
    color: white;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 23px;
    font-weight: 500;
}

.navbar-container {
    display: flex;   
}

.navigation ul {
    list-style: none;
    display: flex;
    gap: 2em;
}

.navigation li {
    margin: 0;
    list-style: none;
}

.navigation a {
    text-decoration: none;
    color: #14171f;
}


.header-icons {
    display: flex;
    gap: 20px;
    margin-right: 100px;
    
}

.account-icon,
.cart-icon {
    background: none;
    border: black;
    padding: 0;
    cursor: pointer;
    text-decoration: none;
    color: #14171f;
    border-radius: 50%; 
    width: 36px; 
    height: 36px;
    display: flex;
    justify-content: center;
    transition: 0.3s ease-in-out;
}

.account-icon img,
.cart-icon img {
    width: 30px; 
    height: 30px;
    fill: #14171f;
} 

.account-icon:hover,
.cart-icon:hover {
    background-color: #f0f0f0
}

.logo img{
    max-height: 140px;
    max-width: max-content;    
} 

.btn {
    display: inline-block;
    padding: 10px 20px;
    color: var(--cl--3--); 
    color: #ffffff; 
    font-size: 16px;
    text-decoration: none;
    border: none;
    border-radius: 5px; 
    cursor: pointer;
    box-shadow: 0px 20px 30px -4px rgba(17, 24, 39, 0.1), 0px 8px 8px -4px rgba(17, 24, 39, 0.4);
    /* transition: background-color 0.3s ease-in-out; */
}

.btn:hover {
    background-color: #ffffff;
    color:var(--cl--3--) ;
}
.secondary-btn {
    background-color: #333; 
    color: #ffffff;
}

.secondary-btn:hover {
    background-color: #555; 
}

nav ul {
    align-items: center;
    gap: 3em;
}

.nav-btn {
    font-weight: 500;
    font-size: 18px;
    color: var(--cl--2--);
    text-transform: capitalize;
}

nav a:hover{
    color: var(--cl--3--);
    
}

.mySwiper{
position: relative;
}

.hero .swiper-slide{
    background: linear-gradient(90deg, rgba(255,255,255,0.9)16.58%, rgba(255,255,255,0)72.38%),url(./Assets/logo_files/DiamondGifts_D.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.hero .container{
    align-items: center;
    min-height: calc(100vh - 108px);
}

.hero h1{
    max-width: 55 0px;
}

.hero .container .row{
    position: absolute;
    right: 0;
    bottom: 51.2px;
    background: var(--cl--3--);
    padding: 2em 3em;
    text-align: center;
    max-width: 398.34px;
    display: flex;
    justify-content: space-between;
}

.hero h3, 
.subscribe-content h2,
.slide-content h3,
.about-content h2{
    color: var(--cl--1--);
}

.hero p,
.slide-content p,
.slide-content p {
  color: var(--cl--1--);
  padding: 1em;
}

.hero-arrow{
    position: absolute;
    margin-left: 1359px;
    margin-top: -29px;
    align-content: center;
    justify-content: flex-start;

}

.swiper-button-prev,
.swiper-button-next
{
    position: relative;
    font-size: 16px;
    color: var(--cl--1--);
    align-items: center;
    gap: 0.5em;
    background: var(--cl--2--);
    padding: 1em 4rem;
    width: unset;
    height: unset;
    inset: unset;
    margin: unset;
}

.swiper-button-next:after,
.swiper-button-prev:after{
    position: absolute;
    color: transparent;
}

.reputation,
.project {
    text-align: center;
    margin: 11%;
}

.reputation h2,
.service h2{
    text-align: center;
}

.reputation-cards,
.service-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: clamp(2em, 5vw, 5em);
    padding-top: 4em;
}

.r-card {
    background: var(--cl--1--);
    padding: 2em;
    margin-top: 20px;
    border: 1.5px solid var(--cl--4--);
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    text-align: center;
}


.r-card svg {
    fill: var(--cl--3--);
    width: 20px;
    height: 20px; 
}

.r-card h3 {
    padding: 1em 0;
}


.about{
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    align-items: center;
    padding: 4em 0;
}

.about-img img, 
.about-content{
    box-shadow: 0px 20px 30px -4px rgba(17, 24, 39, 0.1), 0px 8px 8px -4px rgba(17, 24, 39, 0.4);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;

}

.about-content{
    background: var(--cl--3--);
    padding: 2em;
}

/* .about-content p {
 color: var(--cl--1--);
 padding: 1em 0;
} */

.about-content  a{
    margin-top: 1em;
}

.page-btn,
.page-btn.active:hover{
    font-weight: 600;
    font-size: 18px;
    color: var(--cl--3--);
    text-transform: uppercase;
    border: 2px solid var(--cl--1--);
    background:var(--cl--1--);
    padding: 0.5em 1.5em;
    cursor: pointer;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.page-btn.active,
.page-btn:hover{
    background: transparent;
    color: var(--cl--1--);
}

.service,
.contact{
    background: var(--cl--5--);
    padding: 14em 0;
    margin:  4em auto;
}

.s-card {
    padding: 4em 2em;
    text-align: center;
    box-shadow: 0px 0px 37px -2px rgba(17, 24, 39, 0.05);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.s-card:nth-of-type(odd),
.s-card:nth-of-type(even):hover {
    background: var(--cl--1--);
}

.s-card:nth-of-type(even),
.s-card:nth-of-type(odd):hover {
    background: var(--cl--3--);
}

/* .s-card:nth-of-type(even) svg,
.s-card:nth-of-type(odd):hover svg {
    fill: var(--cl--3--);
} */

.icon {
    position: relative;
    padding: 0.5em;
    max-width: max-content;
    margin: 0 auto;
}

.icon::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 100%;
    height: 1px;
    background: var(--cl--4--); 
}

.s-card:nth-of-type(odd) .icon::after{
    background: var(--cl--4--);
}
.s-card:nth-of-type(even) .icon::after,
.s-card:nth-of-type(odd):hover .icon::after {
    background: var(--cl--1--); 
}

.s-card:nth-of-type(odd) svg,
.s-card:nth-of-type(even):hover svg{
    fill: var(--cl--2--);
}

.s-card:nth-of-type(even) svg,
.s-card:nth-of-type(odd):hover svg{
    fill: var(--cl--1--);
}

.s-card h4 {
    font-weight: 600;
    font-size: 20px;
    padding-top: 0.5em;
    color: var(--cl--3--); 
}

.s-card:nth-of-type(even) h4,
.s-card:nth-of-type(odd):hover h4 {
    color: var(--cl--1--); 
}

.s-card:nth-of-type(odd) h4,
.s-card:nth-of-type(even):hover h4 {
    color: var(--cl--3--); 
}

.experience{
    
    align-items: center;
    flex-wrap: wrap-reverse;
    padding: 4em 0;
   
}

/* .experience-card-row {
    flex-direction: column;
    gap: 4em;
  } */

  .e-card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; 
    gap: -10%;
}


.e-card{
    /* content: ""; */
    position: relative;
    border: 1px solid rgba(41, 71, 169, 0.1);
    background: var(--cl--1--);
    padding: 2em;
    box-shadow: 0px 20px 30px -4px rgba(17, 24, 39, 0.1), 0px 8px 8px -4px rgba(17, 24, 39, 0.4);
    min-width: 300px;
    max-width: max-content; 
    /* max-width: 0.2%;  */
    border-radius: 5px;
    
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.e-card:nth-of-type(odd){
    margin-left: auto;
    margin-top: 2em;
}

.e-card:nth-of-type(even){
    margin-top: 2em;
}


.e-card::after{
    content: "";
    position: absolute;
    top: -50px;
    width: 80px;
    height: 80px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.e-card:nth-of-type(odd)::after{
    right: 0;
}

.e-card:nth-of-type(even)::after{
    left: 0;
}

.e-card:nth-of-type(1)::after {
    background-image: url(./Assets/logo_files/Daco_4113562.png);
  }
  .e-card:nth-of-type(2)::after {
    background-image: url(./Assets/logo_files/pngwing.com.png);
  }
  .e-card:nth-of-type(3)::after {
    background-image: url(./Assets/logo_files/pngwin23g.com.png);
  }
  .e-card:nth-of-type(4)::after {
    background-image: url(./Assets/logo_files/pngwqqqqing.com.png);
  }
  
.e-card p{
    position: relative;
    padding-left: 1em;
}

.e-card p::after{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 5px;
    background: var(--cl--3--);
} 


.experience-content h1{
    color: var(--cl--3--);
}

.experience-content p{
    padding: 2em 0;
}

.page-btn-2{
    font-weight: 600;
    font-size: 18px;
    color: var(--cl--1--);
    text-transform: capitalize;
    border: 2px solid var(--cl--3--);
    background: var(--cl--3--);
    padding: 0.7em 4em;
    cursor: pointer;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    transition: 0.3s ease-in-out;
    -webkit-transition: 0.3s ease-in-out ;
    -moz-transition: 0.3s ease-in-out;
    -ms-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
}

.page-btn-2:hover {
     background: transparent;
     color: var(--cl--3--);
}

.subscribe {
    background: linear-gradient(0deg, rgba(0,0,0,0.7), rgba(0,0,0,7)) , url(./Assets/logo_files/Tone-Wide-Diamond-Band-300x300.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10em 0;
    margin: 0 auto;
}

.subscribe-content{
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 2em;
}

 .subscribe-content p a {
    color: var(--cl--1--);
    text-decoration: underline;
 }

 .project-filter-slider{
    gap: 4em;
    padding-top: 4em;
 }

 .filter{
    gap: 1em;
 }

 .filter div{
   position: relative;
   font-size: clamp(16px, 5vw, 25px);
   color: var(--cl--4--);
   padding-left: 0.7em;
   cursor: pointer;
 }

 .filter .btn-active{
    font-weight: 700;
    color: var(--cl--3--);  
 }

 .btn-active::after{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 5px;
    background: var(--cl--3--);
 }

 .project-slider{
    padding-bottom: 3.2em;
 }

 .project-slider .swiper-slide {
    gap: 1em;
 }

 .d-none{
    display: none;
 }

 .slide-content{
    background: var(--cl--3--);
    padding: 2em -1em;
    margin-bottom: 3em;
    transition: 0.3s ease-in-out;
    -webkit-transition: 0.3s ease-in-out ;
    -moz-transition: 0.3s ease-in-out;
    -ms-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
 }

 .p-card:hover .slide-content{
    background: var(--cl--4--);
 }

 .slide-img {
    overflow: hidden;
 }

 .slide-img img{
    transition: 0.3s ease-in-out;
    -webkit-transition: 0.3s ease-in-out ;
    -moz-transition: 0.3s ease-in-out;
    -ms-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
 }
  
 .p-card:hover img{
    transition: scale(1.2);
    -webkit-transition: scale(1.2) ;
    -moz-transition: scale(1.2);
    -ms-transition: scale(1.2);
    -o-transition: scale(1.2);
 } 
 
 .project-arrow {
    align-items: center;
    justify-content: space-between;
    gap: 2em;
 }

 .project-arrow div:nth-of-type(2){
     position: relative;
     inset: unset;
 }

 .swiper-pagination{
    min-width: 100px;
 }

 .swiper-pagination-bullet{
    background: var(--cl--4--);
    padding: 0.5em;

 }

 .swiper-pagination-bullet-active{
    background: var(--cl--3--);
 }

 .contact-content{
    text-align: center;
    max-width: 600px;
    margin: 0 auto;
 }

 .contact-content p {
    padding: 1em 0;
 }

 .form{
    display: flex;
    flex-wrap: wrap;
    gap: 1.6em;
    padding: 2em 0; 
 }

 .form>*{
    flex: 1 1 15em;
 }

 form input, 
 form select, 
 form textarea{
    padding: 1em 0.5em;
    width: 100%;
    border: 1px solid var(--cl--4--);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
 }

form select option:checked{
    background: var(--cl--3--);
    color: var(--cl--1--);
}

/* .form+div{
    padding-top: -1em;
} */

.form p{
    text-align: left;
    padding: 0 0 2em 0 !important;
}

footer{
    padding: 1em 0;
}

footer h5{
  font-weight: 500;
  font-size: 20px;
  color: var(--cl--3--);
  /* text-transform: uppercase; */
}

.footer-details{
    flex-direction: column-reverse;
    gap: 2em;
    margin-bottom: 2.9em; 
    /* margin-right: 29.5em;
    padding: 1em; */
}


.footer-details li{
    flex-wrap: wrap;
    align-items: center;
    gap:0.5em;
}

.footer-details li+li{
    padding-bottom: 0.5em;
}

.footer-details p{
 color: var(--cl--2--);
}

.footer-content h5{
    padding-bottom: -3em;
    
}


.footer-content form{
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
    display: flex; 
    gap: 1em;
    padding-bottom: 4em;
}

.footer-content .page-btn-2{
    padding: 0.6em;
}


.media-links-row a{
    fill: var(--cl--3--);
    margin-bottom: 0.8em;  
}

.media-links a{
 color: #ffffff;
}

.media-links a:hover{
 fill: var(--cl--4--);
}

.copy-right {
    background: var(--cl--3--);
    padding: 2.7em;  
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.copy-right p{
    font-size: 12px;
    color: var(--cl--1--);
    
}



@media screen and (min-width: 1300px){

    .container{
        max-width: 1215px;
    }
    .footer-content{
        max-width:450px ;
        margin-left: auto;
        align-items: center;
    }

    .footer-content form input{
        width: 60%;
    }
    
} 


@media screen and (max-width:900px) {
    
    .toggleMenu {
        background-image: url(./Assets/solid-bars.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 30px;
        width: 30px;
        height: 30px;
        
        z-index: 100;
        transition: background-size 0.3s ease-in-out;
        -webkit-transition: background-size 0.3s ease-in-out;
        -moz-transition: background-size 0.3s ease-in-out;
        -o-transition: background-size 0.3s ease-in-out;
    }

    .toggleMenu.active {
        position: fixed;
        right: 10%;
        /* background-image: url(); */
        background-size: 25px;
    }
     
    .navigation {
        position: absolute;
        inset: 0;
        display: flex;
        min-height: 0;
        opacity: 0;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        transform: scale(1, 0);
        -webkit-transform: scale(0);
        -moz-transform: scale(0);
        -ms-transform: scale(0);
        -o-transform: scale(0);  
    }

    .navigation.active {
        position: absolute;
        min-height: 100%;
        margin: auto;
        transform: scale(1);
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        opacity: 1;
        background-color:var(--cl--1--);
        z-index: 0;
    }

    nav ul {
        flex-direction: column;
        font-family: 'Work Sans', sans-serif;
        align-items:center;
       
    }

    .navigation ul li {
        margin-bottom: 1em;
        text-align: center;
    }

    /* .navigation a {
        text-decoration: none;
        color: #443c3c; 
        font-size: 24px; 
        position: absolute;
        font-family: 'Work Sans', sans-serif;
    } */

    .project-filter-slider{
        flex-wrap: wrap;
    }

    .filter{
        overflow-x: scroll ;
        padding: 1.5em 0;
    }

    .project-arrow{
        /* display: flex; */
        justify-content: center;
        transform: scale(0.65);
        -webkit-transform: scale(0.65);
        -moz-transform: scale(0.65);
        -ms-transform: scale(0.65);
        -o-transform: scale(0.65);
    }

@media screen and (min-width:600px){
    .about{
        grid-template-columns: repeat(4, 1fr);
    }
    .about-img,
    .about-content{
        grid-column: 1/2;
    }
    .about-img{
        grid-column: 1/4;
    }
    .about-img{
        grid-column: 3/-1;
    }

    .experience-cards{
        gap: unset;
    }

    .e-card+ .e-card{
        margin-top: -2em;
    }

    .e-card:nth-of-type(odd)::after{
        right:-30px;
    }

    .e-card:nth-of-type(even)::after{
       left: -30px;
    }

    .subscribe-content{
        display: flex;
        justify-content: space-between;
        text-align:unset;
    }

    .filter{
        flex-direction: column;
    }

    .footer-details{
        max-width: 100%;
    }
}
     /* .hero-body {
        gap: 5em;
        flex-wrap: wrap;
    }*/

    /* .content {
        justify-content: center;
        align-items: center;
    } */
} 
